@model IEnumerable<DataServices.ViewModels.StudentModel>
@using GridMvc.Html

@{
    ViewBag.Title = "ManageStudents";
}

<h2>Zarządzaj uczniami w bazie danych</h2>

<p>
    @Html.ActionLink("Dodaj nowego ucznia", "AddNewStudent")
    @Html.Grid(Model).Named("StudentList").Columns(columns =>{ columns.Add(x=>x.IdKlasy);
                                          columns.Add(x=>x.IdUcznia);
                                          columns.Add(x=>x.Klasa);
                                          columns.Add(x=>x.Login);
                                          columns.Add(x=>x.Password).Titled("Hasło");
                                          columns.Add(x=>x.Name).Titled("Imię");
                                          columns.Add(x=>x.Surname).Titled("Nazwisko");
                                          columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o => Html.ActionLink("Usuń", "DeleteStudent", new { IdUcznia = o.IdUcznia }));
                                          columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o => Html.ActionLink("Zmień", "EditStudent", new { IdUcznia = o.IdUcznia }));


}).WithPaging(10).Sortable().Selectable(true)
</p>
