@model IEnumerable<DataServices.ViewModels.TaskModel>

@{
    ViewBag.Title = "ManageTask";
    Layout = "~/Views/Shared/Teacher.cshtml";
}

<h2>Zarządzaj zadaniami</h2>
<p>
    @Html.ActionLink("Dodaj nowe zadanie", "CreateNewTask", new { CourseId = Request.Params["CourseId"]})
<p>
    @Html.ActionLink("Dodaj nowy kurs", "CreateCourse","Teacher")

    @Html.Grid(Model).Named("CourseList").Columns(columns =>
{
    columns.Add(x => x.TaskId).Titled("IdKursu");
    columns.Add(x => x.CreationDate).Titled("Data utworzenia");
    columns.Add(x => x.DeadLineDate).Titled("Termin oddania zadania");
    columns.Add(x => x.Descriprion).Titled("Opis zadania");
    columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o => Html.ActionLink("Usuń", "TaskDelete", "Course", new { TaskId = o.TaskId }, null));
    columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o => Html.ActionLink("Zmień", "TaskEdit", "Course", new { TaskId = o.TaskId }, null));
    columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o => Html.ActionLink("Przegladaj rozwiązania", "TaskSolutions", new { TaskId = o.TaskId }, null));
}).WithPaging(10).Sortable().Selectable(true)
</p>
</p>

