@model IEnumerable<DataServices.ViewModels.CourseModel>

@{
    ViewBag.Title = "ManageCourses";
    Layout = "~/Views/Shared/Student.cshtml";
}

<h2>ManageCourses</h2>

<p>
    @Html.Grid(Model).Named("CourseList").Columns(columns =>
{
    columns.Add(x => x.CourseId).Titled("IdKursu");

    columns.Add(x => x.CourseTitle).Titled("Tytuł kursu");
    columns.Add(x => x.CourseDescription).Titled("Opis kursu");
    columns.Add(x => x.Subject).Titled("Przedmiot");
    columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o => Html.ActionLink("Zmień", "TaskList", "Student", new { CourseId = o.CourseId }, null));
    columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o => Html.ActionLink("Wejdź", "ManageTasks", "Course", new { CourseId = o.CourseId }, null));
}).WithPaging(10).Sortable().Selectable(true)
</p>