
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Autor</h2>
<h4>Autorem projektu jest<b> Marcin Szydlak</b></h4><br/>
<h5><b>Marcin Szydlak</b> studiował na wydziale Informatyki Politechniki Białostockiej<br/>
    Zajmuje się on tworzeniem aplikacji w ASP .NET MVC -  technologii firmy Microsoft<br/>
    do tworzenia aplikacji sieciowych opartej o architekturalny wzorzec MVC.<br/>
    Urodził się 24 lipca 1993 w Ostrołęce, lecz rodzinnym miastem jest Ostrów Mazowiecka.<br/>
    Tam ukończył Liceum Ogólnokształcącego im. Mikołaja Kopernika <br/>
    </h5>

